:root {
  --color-bg-canvas: #fff;
  --color-text-primary: #24292e;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-bg-canvas);

  margin: 2rem 0;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
}

th,
td {
  border: 1px solid #ccc;
  text-align: right;
}

th:first-child,
td:first-child {
  text-align: left;
}

.app {
  margin: auto;
  max-width: 860px;
}
